<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      Sign In
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding ion-text-center" class="background">
  
 <ion-item color="transparent">
   <ion-label position="floating">Email</ion-label>
   <ion-input type="text"[(ngModel)]="email"></ion-input>
 </ion-item>

 <ion-item color="transparent">
 <ion-label position="floating">Password</ion-label>
 <ion-input type="password" [(ngModel)]="password"></ion-input>
<ion-icon name="eye" slot="end"></ion-icon>
</ion-item>

<ion-button expand="block" (click)="connect()">Login</ion-button>  


 <!--go to registration-->

 <ion-button fill="outline" expand="block" (click)="connect1()"> Register now</ion-button>
 
 
 
</ion-content>

