   <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides>

        <ion-slide>
          <div class="slide">
           <img src="./assets/slide-1.png"/>
            <h2>Welcome</h2>
            <p> Vous etes étudiant, citoyen charchant un loyer ou locataire voulant promouvoir votre maison ?    "Dar Hnini" est la meilleure addresse pour vous.</p>
          </div>
        </ion-slide>

        <ion-slide>
        <img src="./assets/slide-2.png"/> 
          <h2>Chercher une maison</h2>
          <p> n'a jamais été plus facile, rapide et efficace.</p>
        </ion-slide>

        <ion-slide>
         <img src="./assets/slide-3.png"/>
          <h2>Promouvoir votre maison</h2>
          <p>  n'a jamais été plus facile, rapide et efficace.</p>
        </ion-slide>

        <ion-slide>
          <img src="./assets/slide-4.jpg"/> 
          <h2>Bienvenue à "DAR HNINI"</h2>
          <ion-button fill="clear" (click)="Continue()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>

      </ion-slides>
    </ion-content>

