<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center" class="background">
 

    <ion-item color="transparent">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" required [(ngModel)]="name" ></ion-input>
    </ion-item>

    <ion-item color="transparent">
      <ion-label position="floating">Family Name</ion-label>
      <ion-input type="text" required [(ngModel)]="familyname"></ion-input>
    </ion-item>
    <ion-item  color="transparent">
      <ion-label position="floating">Cell Number</ion-label>
      <ion-input type="number" [(ngModel)]="tel"></ion-input>
    </ion-item>

    <ion-item  color="transparent">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>


    <ion-item color="transparent">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

   
   

    <ion-row>
      <ion-col>
        <ion-button type="submit"  expand="block"  (click)="connect()">Submit</ion-button>
      </ion-col>
    </ion-row>
  
</ion-content>
